
@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Thin.ttf') format('truetype');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
